@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }

.hyperlink-text {
  color: rgb(176, 123, 35);
  
}

.hyperlink-text:hover {
  color: rgb(200, 123, 35);
}

.navbar-nav {
  font-size: 20px;
}

.navbar {  
  width: 100%;
  top: 0;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  z-index: 1;
  transition: top 0.3s;
}

.nav-spacing {
  margin-right: 50px;
}

.nav-link {
  cursor: pointer;
}

.modal-backdrop {
  z-index: 0;
}

.modal.fade:not(.in).right .modal-dialog {
  -webkit-transform: translate3d(85%, 0, 0);
  transform: translate3d(85%, 0, 0);
}

.resume-img {
  max-width: 350px;
  max-height: auto;
  border: 1px solid black;
}

.resume-download {
  border-color: rgb(176, 123, 35);
  color: rgb(176, 123, 35);
}

.resume-download:hover {
  background-color: rgb(176, 123, 35);
  color: white;
  border-color: rgb(176, 123, 35);
}

.timeline-tab {
  margin-right: 230px;
}

#particles-js {
  background-image: url("../images/247.png");
  /* background: rgba(26, 24, 24); */
  background-position: 28% 100%;
  background-size: 100%;
  position: absolute;
  height: 630px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:0;
}

.family-crest {
  position: relative;
  z-index: 1;
}

.family-crest img {
  max-height: 200px;
  position:absolute;
  left: 50%;
  top: -82px;
  margin-left: -100px !important;
  display:block;
}

.home-text {
  position: relative;
  color: white;
  padding: 50px;
  margin-top: 12%;  
  color: white;  
}

.home-text h1 {
  font-size: 500%;
  font-weight: 700;
}

.home-text h2 {
  font-size: 250%;
  font-weight: 500;
}

.headshot {
  max-height: 200px;
  max-width: auto;
  float: left;
  margin-right: 5%;
}

.about-text {
  margin-right: 5%;
  text-align: justify;
  text-justify: inter-word;  
}

.padding-first-section {
  padding: 100px 0px 0px 0px;
}

.padding {
  padding: 80px 0;
}

.education {
  margin-bottom: 0%;
}

.qualifications {
  right:0;
}

.carousel-indicators li {
  background-color: grey;
}

.carousel-indicators .active{
  background-color: black;
};



/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.carousel-item img {
  max-height:40px;
  margin-bottom:2%;
}

/* .carousel-item p {
  margin-top: 0%;
  margin-bottom: 0%;
} */

#education {
  margin-top: 0%;
  margin-bottom: 0%;
}

/* .carousel-caption {
  top: 0;
  bottom: auto;
  left: 40;
  right: auto;
} */

.carousel-inner {
  height: 570px;
  text-align: left;
}

#contact-info {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.contact-item {
  padding: 15px;
}


/* Timeline */

/********************************************************************
* Title: How to create Modern Timeline just by using HTML CSS JQuery
* Author: Adil Ahmed
* Date: 2020
* Availability: https://www.youtube.com/watch?v=oXLha6A4gjc&t=10s
*
********************************************************************/

#timeline h1 {
  color: black;
  font-weight: 700;
  margin-top: 125px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 23px;
}

#timeline h1 span {
  color: rgb(176, 123, 35);
}

.process-wrapper {
  margin: auto;
  max-width: 1080px;
}

#progress-bar-container {
  position: relative;
  width: 90%;
  margin: auto;
  height: 100px;
  margin-top: 59px;
}

#progress-bar-container ul {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  z-index: 9999;
  position: absolute;
  width: 100%;
  margin-top: -40px;
}

#progress-bar-container li:before{
  content: "";
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px #aaa;
  transition: all ease 0.3s;
}

#progress-bar-container li.active:before,
#progress-bar-container li:hover:before {
  background: rgb(176, 123, 35);
}

#progress-bar-container li {
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
  color: #aaa;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.2s;
  vertical-align: bottom;
  height: 59px;
  position: relative;
}

#progress-bar-container li .step-inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
}

/* color text of each timeline list item */
#progress-bar-container li.active,
#progress-bar-container li:hover {
  color: rgb(176, 123, 35);
}

/* dots on line under text of each list item */
#progress-bar-container li:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #777;
  margin: auto;
  border: solid 6px white;
  border-radius: 50%;
  margin-top: 40px;
  box-shadow: 0 2px 13px -1px rgb(176, 123, 35);
  transition: all ease 0.2s;  
}


#progress-bar-container li:hover:after {
  background: rgb(176, 123, 35);
}

#progress-bar-container li.active:after {
  background: rgb(176, 123, 35);
}

#progress-bar-container #line {
  width: 80%;
  margin: auto;
  background: #aaa;
  height: 5px;
  position: absolute;
  left: 10%;
  top: 50px;
  z-index: 1;
  border-radius: 50px;
  transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
  content: "";
  width: 3%;
  height: 100%;
  background: rgb(176, 123, 35);
  background: linear-gradient(to right, rgb(176, 123, 35) 0%, rgb(176, 123, 35) 100%);
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  transition: all ease 0.9s;  
}

#progress-content-section {
  width: 90%;
  margin: auto;
  background: #d1d1d1;
  border-radius: 15px;
}

#progress-content-section .section-content {
  padding: 30px 40px;
  text-align: center;  
}

#progress-content-section .section-content h4 {
	font-size:24px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

/* Projects */


.card {
  height: 570px;
  width: 110%;  
}



.research-card {
  height: 550px;
  width: 107%;  
}

.cards-container {  
  width: 90%;
  margin-top: 1%;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}


.card-text {
  font-size: 14px;
}

.card-keywords {
  position: absolute;
  top: 73%;
  left: 7%;
  right: 7%;
}

.card-keywords button {
  background-color: rgba(211, 211, 211, 0.5);
  vertical-align: middle;
  padding: 2%;
  margin-bottom: 2%;
  margin-right: 1%;
  font-size: 12px;

}

.card-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-color: rgb(176, 123, 35);
  color: rgb(176, 123, 35);  
}

.card-download-button {
  position: absolute;
  bottom: 20px;
  left: 130px;
  color: white;
}


/* .card-button:hover {
  background: rgb(176, 123, 35);
  color: white;
} */

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


#contact {
  background: rgb(29, 27, 27);
  /* height: 400px; */
  width: 100%;
  background-size: cover;
  color: white;
}

#contact a {
  color: white;
  font-size: 20px;
}

#bottom-contact-info {
  margin-top: 2%;
  margin-bottom: 1%;
  height: 60%;
}

#bottom-contact-info h1 {
  font-size: 32px;
  margin-left: 10%;
}

#bottom-contact-info h2 { 
  margin-top: 6%; 
  margin-left: 10%;
  font-size: 20px;
}

#bottom-contact-info h5 {
  margin-left: 10%;
}

.contact-links {
  margin-top: -10px;
}

#bottom-contact-info h6 {
  margin-top: 1.5%;
  margin-left: 10%;  
  font-size: 20px;
}

#contact-me {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
  height: 60%;
  width: 80%;
}

#contact-me h1 {
  font-size: 32px;
  width: 80%;
  margin-left: 5%;
}

#contact-form {
  margin-top: 2%;
  width: 80%;
  margin-left: 5%;
  
}

.form-control {
  display: block;  
  border: none;
  outline: none;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}

.input-small {
  width: 100%;
  padding-bottom: 0%;
  margin-bottom: 8px;
}

#contact-me textarea {
  height: 100px;
  margin-bottom: 22px;
  margin-top: 0px;  
}

.form-submit {
  background: rgb(176, 123, 35);
  width: 100%;
  display: block;
  color: white;  
}

.form-submit:hover {
  opacity: 75%;
}

footer {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
}

@media (max-width:768px) and (min-width:576px) {
  .research-card {
    height: 580px; 
  }
}​

@media (max-width:1200px) and (min-width:992px) {
  .standard-card {
    height: 620px;
  }
  .card-keywords {
    top: 70%
  }
}

@media (max-width:992px) and (min-width:768px) {
  .standard-card {
    height: 500px;
  }
  .card-keywords {
    top: 70%
  }
} 

@media (max-width:768px) and (min-width: 576px) {
  #contact-me {
    margin-left: 8%;
    text-align: left;
  }
}

@media (max-width: 576px) {
  .card-keywords {
    top: 65%;
    left: 4%;
  }
  .standard-card {
    height: 500px;
  }

  #contact-me {
    margin-left: 8%;
    text-align: left;
  }
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








